{% extends 'base.html' %}

{% block title %} Brian Lee's Website - Login {% endblock %}

{% block maintext %}

<p>Log in:</p>

{% if form.errors %}
<span class="alert label">Either your username or password were incorrect. Please try again.</span>
{% endif %}

<form method="post" action=".">{% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
    </p>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
        <input type="hidden" name="next" value="/" />
    {% endif %}
    <input type="submit" value="login" />
</form>


{% endblock maintext %}
