{% extends 'base.html' %}

{% block maintext %}

<p>Hi there!</p>
<p>I'm Brian Lee. I'm currently a joint graduate student under Professors <a href="http://www.seas.harvard.edu/softmat/">Mahadevan</a> and <a href="http://molbio.mgh.harvard.edu/szostakweb/index.html">Szostak</a> at Harvard, having graduated from MIT in 2011 with a degree in Chemistry. I study lipid membrane biomechanics, and I also dabble in mathematical modeling of various sorts. </p>
<p>My interests include: math, physics, programming, Go, chemistry, piano, and teaching.</p>
<p>I write various <a href="/essays">essays</a> on my personal thoughts. I also explore interesting technical problems from a pedagogical perspective.</p>
<p>I'm one of the founding members of the <a href="http://www.college-go.org">American Collegiate Go Association</a>, which is an association dedicated to spreading Go via college Go clubs.</p>
<p>I represented the U.S. at the International Chemistry Olympiad in 2007, and I served as peer mentor for the <a href="http://portal.acs.org/portal/acs/corg/content?_nfpb=true&_pageLabel=PP_SUPERARTICLE&node_id=1021">US National Chemistry Olympiad Study Camp</a> in 2010-2012.</p>
<!-- <p>I am one of the instructors for <a href="http://www.artofproblemsolving.com/School/chemwoot.php">ChemWOOT</a>, a practice program for the USNCO/IChO run by the Art of Problem Solving.</p> --> 

{% endblock maintext %}