#errors{
color: #ff0000;
}

#search{
width:800pt;
}

#search_options1{
float:left;
padding:0 10 0pt;
width:250pt;
}

#search_options2{
float:left;
padding:0 10 0pt;
width:250pt;
}

#search_button{
font-size:32pt;
}

.highlight {
background: #ffff99; 
color: #000000;
}

