{% extends 'base.html' %}
{% block scripts %}
<!--
function SetAllCheckBoxes(FormName, FieldName, CheckValue)
{
	if(!document.forms[FormName])
		return;
	var objCheckBoxes = document.forms[FormName].elements[FieldName];
	if(!objCheckBoxes)
		return;
	var countCheckBoxes = objCheckBoxes.length;
	if(!countCheckBoxes)
		objCheckBoxes.checked = CheckValue;
	else
		// set the check value for all check boxes
		for(var i = 0; i < countCheckBoxes; i++)
			objCheckBoxes[i].checked = CheckValue;
}
// -->
{% endblock %}


{% block title %}Search Page{% endblock %}


{% block content %}
<hr />
<p>Welcome, {{user.username}}</p>

<div id="search_results_meta">
<p>Search mode was {{mode}}</p>
<p>Search terms were {% for key in query_list %}{{key}}, {% endfor %}</p>
<p>Search years are {% for year in year_list %}{{year}}, {% endfor %}</p>
<p>Sources include {% for source in source_list %}{{source}}, {% endfor %}</p>
<hr />

{% if errors %}
<div id="errors">
<ul>
	{% for error in errors %}
	<li>{{error}}</li>
	{% endfor %}
</ul>
</div>
{% endif %}
</div>


<div id="search_results">
<h3>Results:</h3>
{{results|length}} results
<ul>
{% for result in results %}
	<li> {{result}} - 
	{% for topic in result.topics.all %}
		{% if topic.name in query_list %} <span class="highlight">{{topic.name}}</span>,
		{% else %} {{topic.name}},
		{% endif%}		
	{% endfor %}
	</li>
{% endfor %}
</ul>
</div>

<hr />

<form method="GET" action="" name="ProblemSearch">
<div id="search">
	<div id="search_top">
		<p>Select search mode:</p>
		<input type=radio name="mode" value="OR" checked="True">OR
		<input type=radio name="mode" value="AND">AND
		<input type=submit value="Search That Shit, Yo" id="search_button">
	</div>
	<div id="search_options1">
		
		<p>Select your topics:</p>
		<input type="button" onclick="SetAllCheckBoxes('ProblemSearch', 'q', true);" value="Select all topics">
		<input type="button" onclick="SetAllCheckBoxes('ProblemSearch', 'q', false);" value="Deselect all topics">
		
		<ul>
		{% for subfield in all_subfields %}
			<li> <h3>{{subfield.name}}</h3>
				{% for topic in subfield.topic_set.all %}	
				<label for="{{topic.name}}">
				{% if topic.name in query_list %}
				<input id="{{topic.name}}" type=checkbox name="q" value="{{topic.name}}" checked="checked"/>
				{% else %}
				<input id="{{topic.name}}" type=checkbox name="q" value="{{topic.name}}"/>
				{% endif %}
				{{topic.name}}
				</label>
				<br />
				{% endfor %}
			</li>
		{% endfor %}
		</ul>
	</div>
	
	<div id="search_options2">
		<p>Select years:</p>
		<input type="button" onclick="SetAllCheckBoxes('ProblemSearch', 'y', true);" value="Select all years">
		<input type="button" onclick="SetAllCheckBoxes('ProblemSearch', 'y', false);" value="Deselect all years">
		<br /><br />
		{% for year in all_years %}
		<label for="{{year}}">
		{% if not year_list %}
		<input id="{{year}}" type=checkbox name="y" value="{{year}}" checked="checked" />
		{% elif year in year_list %}
		<input id="{{year}}" type=checkbox name="y" value="{{year}}" checked="checked" />
		{% else %}
		<input id="{{year}}" type=checkbox name="y" value="{{year}}"/>
		{% endif %}
		{{year}}
		</label><br />
		{% endfor %}

		<p>Select problem sources:</p>
		{% for source in all_sources %}
		<label for="{{source.name}}">
		{% if not source_list %}
		<input id="{{source.name}}" type=checkbox name="s" value="{{source.name}}" checked="checked"/>
		{% elif source.name in source_list %}
		<input id="{{source.name}}" type=checkbox name="s" value="{{source.name}}" checked="checked"/>
		{% else %}
		<input id="{{source.name}}" type=checkbox name="s" value="{{source.name}}"/>
		{% endif %}
		{{source.name}}
		</label><br />
		{% endfor %}
	
	</div>
</div>

</form>


{% endblock %}

